---
interface Props {
    defaultPadding: boolean;
}

const { defaultPadding } = Astro.props;
---

<div class="relative -mt-32 px-4 md:px-6">
    <main class={`w-full max-w-6xl relative z-10 mx-auto ${defaultPadding ? "p-5 md:p-8" : ""}`}>
        <slot />
    </main>
</div>
