---
import { twMerge } from "tailwind-merge";

interface Props {
    class?: string;
}

const { class: ClassName = "" } = Astro.props;
---

<div
    class={twMerge(
        `prose prose-xl prose-slate dark:prose-invert max-w-none break-words
            prose-a:no-underline prose-a:border-accent-200 dark:prose-a:border-accent-900 prose-a:border-b-2 prose-a:border-dashed
            prose-a:text-accent-600 dark:prose-a:text-accent-400
            prose-a:transition-colors
            prose-img:rounded-lg
            prose-thead:border-b-2
            prose-th:text-base prose-th:leading-8
            prose-td:text-base prose-td:leading-8
            prose-li:my-0.5
            prose-h1:text-3xl prose-h1:font-bold prose-h1:mt-10 prose-h1:mb-5
            prose-h2:text-2xl prose-h2:font-bold prose-h2:mt-8 prose-h2:mb-4
            prose-h3:text-xl prose-h3:font-semibold prose-h3:mt-6 prose-h3:mb-3
            prose-h4:text-lg prose-h4:font-medium`,
        ClassName,
    )}
>
    <slot />
</div>
